html {
    font-size: 62.5%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: white;
    font-size: 1.6rem;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

h1 {
    font-size:  $m-size;
}

.is-active {
    font-weight: bold;
}